@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Description"]</h3>
<h3>@ViewData["Code"]</h3>
<h3>@ViewData["Objective"]</h3>
<h3>@ViewData["BigO"]</h3>

<p>Use this area to provide additional information.</p>
